html, body {
    overflow-y: auto;
    background-color: #E6F7FF;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chapter {
    background-color: white;
    border: 2px solid #ccc;
}

.section-header {
    padding-left: 28px;
    width: 100%;
}

.section-header:hover {
    background-color: #f0f0f0;
}

#sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

#sidebar button:hover {
    background-color: #f0f0f0;
}

#sidebar a:hover {
    background-color: #f0f0f0;
}

#sidebar b {
    white-space: nowrap;
    margin-left: 10px;
}

#sidebar button {
    text-align: left;
}

#header {
    padding: 10px;
}

#disclaimer-container {
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

.page-content {
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    border: 2px solid #ccc;
}

footer {
    color: white;
}

footer img {
    max-width: 200px;
}

@media (max-width: 680px) {
    footer img {
        display: none;
    }
}

.btn-toggle {
    width: 100%;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.link-body-emphasis {
    width: 100%;
}
